@font-face {
  font-family: 'MyFont';
  src: url('/fonts/east-sea-dokdo-cyrillic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #ECE4C0;
  font-family: 'MyFont', sans-serif;
  width: 100vw;
}

header,
footer {
  position: relative;
  width: 100%;
  margin: 0;
  background-color: #254C69;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 30px;
}

header button,
footer button {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
}

button {
  background-color: rgba(155, 189, 162, 0);
  border: none;
  cursor: pointer;
  font-family: 'MyFont', sans-serif;
  font-size: 32px;
}