ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    width: auto;
    padding: 0;
}

.main-page {
    width: 99%;
}

li {
    img {
        width: 60%;
    }

    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog_section {
    border-radius: 0 0 20px 20px;
    background-color: rgba(155, 189, 162, 1);
    flex: 1;
}

.catalog {
    margin-top: 30px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        padding: 20px;

        img {
            width: 35px;
            height: 35px;
        }
    }
}