.user-menu {
    position: absolute;
    top: 70px;
    right: 70px;
    background: #254C69;
    border: 0px solid #ddd;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-shadow: 0 5px 20px rgba(5, 5, 5, 0.266);
    z-index: 10;
}

.user-menu button {
    padding: 4px 20px;
    border: none;
    background: #f5f5f500;
    border-radius: 4px;
    width: auto;
    font-size: 25px;
    height: auto;
    color: rgba(155, 189, 162, 1);
}