.alert_section {
    position: fixed;
    z-index: 100000;
    display: flex;

    h1 {
        color: #9BBDA2;
        text-align: center;
    }

    .ok_btn {
        background-color: #9BBDA2;
        color: #254C69;
        border-radius: 15px;
    }
}

.just_info {
    width: 100% !important;
}

.al_overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.732);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ece4c0;


    .closer {
        margin: 0 !important;
    }
}

.alert_info {
    background-color: #376072;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;

    button {
        font-size: 25px;
        padding: 0 15px;
        color: #9BBDA2;
    }
}

.al_btns {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}