.author_section {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    justify-content: center
}

h2 {
    font-size: 25px;
}

.photo {
    width: 150px;
    height: 150px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 100%;
}

.photo .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
}

.photo:hover .overlay {
    opacity: 1;
}

.authors_page {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
    background-color: rgba(155, 189, 162, 1);
    border-radius: 20px;
}

.child-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}