.category {
    background: linear-gradient(to right, #254C69, #9BBDA2);
    color: #ECE4C0;
    padding: 0 15px;
    font-size: 25px;
}

.preview {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;

    img {
        width: 60%;
    }
}

.catalog_ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    width: auto;
    padding: 0;
    align-items: center;

    .show-more {
        background-color: #254C69;
        height: 30px;
        width: 8vw;
        color: #ECE4C0;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 15px 50px 15px;
        font-size: 30px;
    }
}

.Паперова {
    border-radius: 0 10px 10px 0;
    border: #254C69 5px solid;
}

.Електронна {
    border-radius: 20px;
    border: rgba(210, 215, 169, 1) 6px solid;
}

.main-page {
    width: 99%;
    margin-bottom: 40px;
}

.short_info {
    text-align: center;
    color: black;
}

.catalog_li {
    img {
        width: 8vw;
    }

    a {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;
    }

    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 10px;
    margin: 0 !important;
}

.show-more:hover {
    background: #477B91;
}

.catalog_li:hover {
    box-shadow: 0 0 7px #254c69cc;
    background-color: #254c693c;
}

.catalog_section {
    border-radius: 0 0 20px 20px;
    background-color: #9BBDA2;
    flex: 1;
}

.catalog {
    margin-top: 30px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        padding: 20px;

        img {
            width: 35px;
            height: 35px;
        }
    }
}

.icon {
    width: 30%;
    height: 30%;

    img {
        width: 100%;
        height: 100%;
    }
}

button:disabled {
    cursor: default;
}

.nav-btn-next img,
.nav-btn-prev img {
    transition: opacity 0.2s ease;
}

.nav-btn-next:not(:disabled):hover img {
    content: url("/svg/next-hover.svg");
}

.nav-btn-prev:not(:disabled):hover img {
    content: url("/svg/prev-hover.svg");
}