.category {
    background: linear-gradient(to right, #254C69, rgba(155, 189, 162, 1));
    color: #ECE4C0;
    padding: 0 15px;
    font-size: 25px;
    margin-bottom: 20px;
}

.preview {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;

    img {
        width: 60%;
    }
}

.catalog_ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    width: auto;
    padding: 0;

    .show-more {
        background-color: #254C69;
        height: 50px;
        width: 20%;
        color: #ECE4C0;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 15px;
    }
}

.Паперова {
    border-radius: 0 10px 10px 0;
    border: #254C69 5px solid;
}

.Електронна {
    border-radius: 20px;
    border: rgba(210, 215, 169, 1) 6px solid;
}

.main-page {
    width: 99%;
}

.short_info {
    text-align: center;
    color: black;
}

.catalog_li {
    img {
        width: 60%;
    }

    a {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog_section {
    border-radius: 0 0 20px 20px;
    background-color: rgba(155, 189, 162, 1);
    flex: 1;
}

.catalog {
    margin-top: 30px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        padding: 20px;

        img {
            width: 35px;
            height: 35px;
        }
    }
}

.icon {
    width: 30%;
    height: 30%;

    img {
        width: 100%;
        height: 100%;
    }
}