.author-details {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;

    align-items: flex-start;

    img {
        width: 20%;
        border-radius: 30px;
        border: rgba(71, 123, 145, 1) 10px solid;
    }
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    color: #254C69;
    font-size: 60px;
}

p {
    text-indent: 30px;
    font-size: 25px;
    text-align: justify;
    background-color: rgba(155, 189, 162, 1);
    padding: 25px;
    border-radius: 30px;
}

.au_short_info {
    color: black;
}


.listbook {
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.books {
    display: flex;
    width: 80%;
    flex-direction: column;

    h2 {
        font-size: 30px;
        margin: 0;
        color: #254C69;
    }

    a {
        width: 100%;
        justify-content: space-between;
    }

    a:hover {
        border-bottom: 1px #254C69 solid;
    }
}

.option_book {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    display: flex;
    font-size: 25px;
}

.option_book:nth-child(odd) {
    background-color: #D7D4A8;
}

.option_book:nth-child(even) {
    background-color: #f8f6d89e;
}