.author-details {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;

    align-items: flex-start;

    img {
        width: 14%;
        border-radius: 30px;
        border: rgba(71, 123, 145, 1) 8px solid;
    }
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    color: #254C69;
    font-size: 60px;
}

h4 {
    font-weight: lighter;
    font-size: 24px;
    margin: 0;
}

p {
    text-indent: 30px;
    font-size: 25px;
    text-align: justify;
    background-color: rgba(155, 189, 162, 1);
    padding: 25px;
    border-radius: 30px;
}

.au_short_info {
    color: black;
}


.listbook {
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.books {
    display: flex;
    width: 80%;
    flex-direction: column;

    h2 {
        font-size: 30px;
        margin: 0;
        color: #254C69;
    }

    a {
        width: 100%;
        justify-content: space-between;
    }

    a:hover {
        border-bottom: 1px #254C69 solid;
    }
}

.option_book {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    display: flex;
    font-size: 25px;
}

.option_book:nth-child(odd) {
    background-color: #D7D4A8;
}

.option_book:nth-child(even) {
    background-color: #f8f6d89e;
}

.morebtn {
    font-size: 24px;
    color: #254C69;
    margin-left: 20px;
    padding: 0;
    height: 26px;
}

.morebtn:hover {
    border-bottom: 2px solid #254C69;
}

.types {
    list-style: none;
}

.hidden_checkbox {
    display: none;
}

.checkbox_button {
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    background-color: rgba(155, 189, 162, 1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.241);
}

.hidden_checkbox:disabled+.checkbox_button {
    cursor: default;
    color: rgba(0, 0, 0, 0.656);
    background-color: rgba(240, 255, 243, 0.63);
    border: rgb(187, 187, 187) 2px solid;
}

.hidden_checkbox:checked+.checkbox_button {
    background-color: #254C69;
    color: white;
    border-color: #254C69;
}

.type_item {

    margin: 10px;
    padding: 15px;
    font-size: 30px;

}