.filter-popup,
.matrix {
    position: absolute;
    top: 70px;
    right: 5%;
    background: #254C69;
    border-radius: 12px;
    padding: 20px 18px;
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.05),
        0 10px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 999;
    animation: fadeIn 0.18s ease-out;
}

.genlist,
.list,
.llister,
.lir {
    top: 90px;

}

.list {
    right: 40%;
}

.llister {
    right: 55%;
}

.lir {
    flex-direction: row;
    color: #ECE4C0;

    .inputs {
        width: 70px;
        margin: 0;
    }
}

.type_list {
    list-style: none;
}

.filters_row,
.genres_row {
    display: flex;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 6px 0;
    justify-content: flex-start;
    align-items: center;
}

.genres_matrix {
    position: absolute;
    top: 80px;
    right: 30%;
}

.filter_item,
.genres_item,
.button_item {
    padding: 6px 10px;
    border-radius: 8px;
    background: rgba(71, 123, 145, 1);
    list-style-type: none;
    color: #ECE4C0;
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 32px;
    cursor: pointer;
}

.genres_item {
    width: auto;
}

.filter_item:hover,
.genres_item:hover {
    background: rgb(117, 169, 191);
}

.button_item {
    background: rgba(155, 189, 162, 1);
    color: #254C69;
}

.button_item:hover {
    background: rgb(122, 153, 128);
}

.hidden_checkbox:checked+.genres_item {
    background: rgb(155, 189, 162);
    color: #254C69;
}