.books-page {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
    background-color: rgba(155, 189, 162, 1);
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}