main {
    display: flex;
    justify-content: center;
    flex: 1;
}

h2 {
    font-size: 25px;
}

.logotype {
    width: 150px;
    font-size: 100%;
}

.logotype img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.logotype {
    position: relative;
}

.logotype:hover .overlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-mask-image: radial-gradient(ellipse at center, black 60%, transparent 100%);
    mask-image: radial-gradient(ellipse at center, black 60%, transparent 100%);
    border-radius: 30px;
}

.logotype .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.publishers_page {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
    background-color: rgba(155, 189, 162, 1);
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.child-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}