body {
    width: display-width;
    margin: 0;
    background-color: #ECE4C0;
}

header,
footer {
    width: 100%;
    margin: 0;
    background-color: #254C69;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    button {
        width: 60px;
        height: 60px;
    }
}

.menu_container {

    display: flex;
    justify-content: space-evenly;
    width: 340px;

    img {
        height: 30px;
    }
}

button {
    background-color: rgba(155, 189, 162, 0);
    border: none;
    cursor: pointer;
}

.main {
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

.logo {
    height: 60px;
    width: auto;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 20px;

    h1 {
        margin: 0;
        color: #ECE4C0;
        font-family: "Jua", sans-serif;
    }
}

.start {
    background-color: rgba(210, 215, 169, 1);
    border-radius: 20px;
    height: 190px;
    width: 980px;
    padding: 20px;
    color: #162f42;
}

.catalog_section {
    border-radius: 0 0 20px 20px;
    background-color: rgba(155, 189, 162, 1);
    height: 200px;
    width: auto;
}

.catalog {
    margin: 30px 10px;
    height: 200px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

    button {
        img {
            width: 40px;
            height: 40px;
        }
    }
}

.post_menu {
    background-color: rgba(71, 123, 145, 1);
    width: 1980px;
    display: flex;
    justify-content: center;

    button {
        width: auto;
        height: 40px;
        color: #ECE4C0;
        font-weight: bold;
        margin: 0 20px;
    }
}